* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  background-color: darkslateblue;
}

header {
  width: 100%;
  margin: 1rem;
}

h1 {
  display: flex;
  justify-content: center;
}

main {
  width: 80%;
  min-width: 30rem;
  max-width: 40rem;

  height: 80%;
  min-height: 30rem;
  max-height: 40rem;
  display: flex;
  justify-self: center;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  background-color: crimson;
  width: 5rem;
  height: 2.5rem;
  border-radius: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}
/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Square Peg", cursive;
}
header {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 8rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 20px;
}
.container .image {
  border-radius: 20px;
  margin: 20px;
  width: auto;
  height: 500px;
}
.random-cat-button {
  align-items: center;
  background-color: rgb(228, 164, 94);
  border: 5px solid rgb(249, 151, 66);
  border-radius: 15px;
  cursor: pointer;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  padding: 12px;
  width: 200px;
  height: auto;
}
.random-cat-button:hover {
  border: 5px solid rgb(228, 164, 94);
  background-color: rgb(227, 141, 67);
} */
