.contenedor {
    display: grid;
    grid-template-columns: minmax(60px, 300px) 200px minmax(60px, 250px);
    grid-template-rows: repeat(3, auto);
    place-content: center;

    border: 5px solid #e1bee7;
    background-color: white;
}

.item {   
    border: 5px solid #00bcd4;
    font-size: 2rem;
}

