.shadow {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    background-color: black;
}

.circle {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    background-color: aqua;
}

.circle:hover {
    transform: translate(20px, -20px);
}


/* 
.circle:hover {
    transform: translateX(-20px); or Y
}
*/