.card {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
    border-radius: 20px;
}

.face.front {
    background-color: aqua;
}

.face.back {
    transform: rotateX(180deg);
    background-color: darkslateblue;
}