$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;

body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 100px;
}

main{
    background-color: $primary-color;
}

footer{
    $background: #FA9500;
    background-color: $background;
    width: 100%;
    height: 250px;
}