@use 'mixinsfunc';

@mixin arreglar-imagen {
    background: {
        size: cover;
        repeat: no-repeat;
        position: center
    };
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0; */
}

.hero {
    &__container {
        height: calc(100vh - 70px);
        background-image: linear-gradient(#7a18973f, #000000d2), url('../img/fierro.jpg');

        @include mixinsfunc.crear-flexbox(center);
        @include arreglar-imagen;
    }

    &__texts {
        width: 90%;
        color: #fff;
    }

    &__title {
        // Esto se convierte a rem
        font-size: mixinsfunc.pixeles-rem(37);
        margin-bottom: mixinsfunc.pixeles-rem(10);
    }
    
    &__paragraph {
        font-size: mixinsfunc.pixeles-rem(18);
    }
}