div {
    width: 100px;
    height: 100px;
    
    transition: transform 1.8s linear;
    border-radius: 50%;
    background-color: darkslateblue;
}

div:hover {
    transform: translateX(200px);
    transition: transform 1s linear;
}