.container {
    width: 100px;
    height: 100px;

}

.item {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    background-color: aqua;
}

.container:hover .item {
    transform: translateX(60px);

    background-color: darkslateblue;
}