.contenedor {
    display: grid;
    grid-template-rows: 100px 200px;
    /* grid-template-rows: 150px 250px; */
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    /* row-gap: 15px;
    column-gap: 30px; */
    gap: 40px;

    border: 5px solid #e1bee7;
    background-color: #fff1ff;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}