button {
    width: 100px;
    height: 30px;

    background-color: aqua;
}

.better { /* Mejor */
    will-change: transform;
    transition: transform 500ms;
}

.better:hover {
    transform: translateY(5px);
}

.worst { /* Peor */
    will-change: margin-top;
    transition: margin-top 500ms;
}

.worst:hover {
    margin-top: 5px;
}