body {
    margin: 0;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Profundidad */
    perspective: 8px;
    /*Vista desde arriba igual que Center*/
    perspective-origin: 50%;
    /* Scroll oculto */
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Con la propiedad overflow la imagen se corta así que aplicamos estilos a las imagenes*/
div img {
    width: 100%;
    height: 100%;
}

.image {
    /* Una imagen sobre otra */
    position: absolute;
    margin: 0 auto;
    /* transform: 0 50%; Error no se está aplicando: 
    Translate - Rotate - Scale???? */
}

.image__background {
    width: 100%;
    height: auto;
    /* Añade capas en el eje Z */
    transform: translateZ(0px) scale(1);
    /* En X 0 y en Y 50% - Punto Origin está centrado a la izquierda */
    transform-origin: 0 50%;
}

.image__middle {
    width: 100%;
    height: 100%;
    /* Scale = 
	(perspective - translateZ) / perspective */
    transform: translateZ(5px) scale(0.375);
    /* Igual que aplicar un center */
    transform-origin: 50%;
}

.card {
    position: absolute;
    width: 80px;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    /* Siempre en Grados:deg */
    transform: rotate(-20deg);
}

/* Agrega tus propios valores */
.one {
    left: 20px;
    top: 90px;
}

.two {
    right: 10%;
    top: 200px;
}

.three {
    right: 20%;
    bottom: -150px;
    background-color: aqua;
}


.image__foreground {
    /* Scale = (8-2)/8 = 0.75 */
    transform: translateZ(2px) scale(0.75);
    /* Img Alice en posición Top*/
    transform-origin: top;
}

xd